<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<h2>Welcome to your page, little user :)</h2>

<table border="1">
    <tbody>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>CITY</th>
        <th>PASSWORD</th>
    </tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.city}"></td>
    <td th:text="${user.password}"></td>
    </tbody>
</table>
<p>
<form th:method="GET" action="/logout">
    <input type="submit" value="Logout">
</form>
</p>
</body>
</html>